*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    transition: 300ms;
}
.title:hover{
    transform:translateX(200px) ;
}
.main{ 
    background: purple;
     color: white;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}